<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados dos Municípios da Bacia do Rio Paraguaçu</title>
    <script src="/normalizarTexto.js" defer></script>
    <script src="/buscaMunicipios.js" defer></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Dados dos Municípios da Bacia do Rio Paraguaçu</h1>

    <a href="/geral">Clique aqui para ver todos os dados disponíveis.</a>

    <p>Para ver os dados de um município específico, digite o nome do município e selecione a sua opção:</p>
    
    <input type="text" id="buscaMunicipio" placeholder="Digite o nome do município...">
    
    <ul id="listaMunicipios" class="lista-municipios" style="display:none;"></ul>
    
    <script>
        window.municipios = <%- JSON.stringify(municipios) %>;
    </script>
</body>
</html>
