html {
    scroll-behavior: smooth;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    /* Use 90% para maior responsividade */
    max-width: 1200px;
    /* Define um limite máximo para telas grandes */
    margin: 50px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2, 
h3 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    /* Largura total */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {

    table,
    table th,
    table td {
        font-size: 14px;
        /* Reduz o tamanho da fonte em telas menores */
    }

    input[type="text"] {
        font-size: 14px;
        /* Ajusta o tamanho da fonte da barra de pesquisa */
    }
}

@media (max-width: 480px) {

    table,
    table th,
    table td {
        font-size: 12px;
        /* Reduz ainda mais o tamanho da fonte para telas muito pequenas */
    }

    h1 {
        font-size: 24px;
        /* Tamanho do título em telas pequenas */
    }
}

/* dados comparativos de tabelas */

.positivo {
    color: green;
}

.negativo {
    color: red;
}

/* busca de municípios */

.lista-municipios {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 10;
}
.lista-municipios li {
    padding: 8px;
    cursor: pointer;
}
.lista-municipios li:hover {
    background-color: #f0f0f0;
}

/* mapa */

#map {
    height: 600px;
}

/* balão de ajuda */

.help-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
  
.help-button:hover {
    background-color: #0056b3;
}
  
.balloon {
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    display: none;
    z-index: 999;
}
  
.balloon-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
.balloon p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
}

/* botão para retornar ao topo */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none;
    background-color: #007bff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.back-to-top:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.back-to-top img {
    width: 30px;
    height: 30px;
}
  
.back-to-top:focus {
    outline: none;
}