/* tabelas, dados comparativos */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.positivo {
    color: green;
}

.negativo {
    color: red;
}

/* busca de municípios */

.lista-municipios {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 10;
}
.lista-municipios li {
    padding: 8px;
    cursor: pointer;
}
.lista-municipios li:hover {
    background-color: #f0f0f0;
}